<div class="bg-darkgrey d-flex" id="wrapper">
    <div class="bg-darkgray border-right text-white" id="sidebar-wrapper">
        <div class="sidebar-heading">Christian Aid Management Portal </div>
        <div class="list-group list-group-flush bg-darkgray">
            <button routerLink="people" class="list-group-item list-group-item-action bg-darkblue">People</button>
            <button routerLink="tasks" class="list-group-item list-group-item-action bg-darkblue">Tasks</button>
            <button routerLink="skills" class="list-group-item list-group-item-action bg-darkblue">Skills</button>
            <button routerLink="users" class=" bg-darkblue list-group-item list-group-item-action">Users</button>
        </div>
        <router-outlet></router-outlet>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>